
.feature-content article:not(.feature-content-article),
.feature-content-article {
  position: relative;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  page-break-inside: avoid;
}
.feature-content article:not(.feature-content-article):first-child,
.feature-content-article:first-child {
  margin-top: 0;
}
.feature-content article:not(.feature-content-article) .links > a:not(.social),
.feature-content-article .links > a:not(.social),
.feature-content article:not(.feature-content-article) .links > span,
.feature-content-article .links > span {
  color: #42b4e6;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4286;
}
.feature-content article:not(.feature-content-article) .links > a:not(.social)::before,
.feature-content-article .links > a:not(.social)::before,
.feature-content article:not(.feature-content-article) .links > span::before,
.feature-content-article .links > span::before {
  content: '>\00a0';
}
.feature-content article:not(.feature-content-article) .links,
.feature-content-article .links {
  position: relative;
  bottom: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  text-align: right;
}
@media only screen and (min-width: 61.25em) {
  .feature-content article:not(.feature-content-article) .links,
  .feature-content-article .links {
    text-align: left;
  }
}
.feature-content article:not(.feature-content-article) .links a,
.feature-content-article .links a {
  display: block;
  text-align: left;
}
.main > section .feature-content article:not(.feature-content-article) h3,
.main > section .feature-content-article h3,
.main > div .feature-content article:not(.feature-content-article) h3,
.main > div .feature-content-article h3,
.main > section .feature-content article:not(.feature-content-article) h2,
.main > section .feature-content-article h2,
.main > div .feature-content article:not(.feature-content-article) h2,
.main > div .feature-content-article h2,
.feature-content article:not(.feature-content-article) h3,
.feature-content-article h3,
.feature-content article:not(.feature-content-article) h2,
.feature-content-article h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.4444;
  font-weight: 400;
  color: #333333;
}
.feature-content article:not(.feature-content-article) time,
.feature-content-article time {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.875rem;
  color: #9fa0a4;
}
.feature-content article:not(.feature-content-article) p,
.feature-content-article p {
  margin: 5px 0 11px 0;
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.4286;
}
.feature-content article:not(.feature-content-article) span.adapt-img-wrapper,
.feature-content-article span.adapt-img-wrapper,
.feature-content article:not(.feature-content-article) img,
.feature-content-article img {
  display: block;
  max-width: 100%;
  height: auto;
}
.feature-content-article {
  padding-bottom: 1px;
}
.feature-content-body--columns-3 .feature-content-article:last-child {
  padding-bottom: 2px;
}
.feature-content article:not(.feature-content-article),
.feature-content-article-body {
  padding: 20px 20px 19px;
  background: #fff;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 1px 0 0 rgba(192, 192, 192, 0.5);
          box-shadow: 0 1px 0 0 rgba(192, 192, 192, 0.5);
}
@media only screen and (min-width: 61.25em) {
  .feature-content article:not(.feature-content-article),
  .feature-content-article-body {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}
.feature-content-article-body {
  margin-bottom: 1px;
  border-top: 0;
}
.feature-content-btn {
  display: inline-block;
  background: #fff;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  border-color: #fff;
  border-style: solid;
  border-width: 0;
  display: block;
  margin: 0 auto;
  padding: 13px 26px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  color: #626469;
  border: 1px solid #626469;
  clear: both;
}
.feature-content-btn:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#fff));
  background-image: linear-gradient(to bottom, #ffffff 0, #fff 100%);
}
.feature-content-btn:active {
  background: black;
  color: #fff;
}
.feature-content-btn:active {
  color: #fff;
  background-color: #626469;
}
.feature-content-btn.is-hidden {
  display: none;
}